{{#section  'title'}}
Thông Tin Tài Khoản
{{/section}}

<div class="card">
    <div class="card-header bg-dark text-white">
        <h4>Thông Tin Tài Khoản</h4>
    </div>
    <div class="card-body">
        <p><b>Họ Và Tên</b>: {{lcAuthUser.name}}</p>
        <p><b>Email</b>: {{lcAuthUser.email}}</p>
        <p><b>Ngày Sinh</b>: {{lcAuthUser.dob}}</p>
    </div>
</div>