<div class="card">
    <div class="card-header">
        <h4>New Product</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            <div class="form-group">
                <label for="txtProductName">Product</label>
                <input type="text" class="form-control" id="txtProductName" name= "txtProductName" autofocus>
            </div>
            
            <a class = "btn btn-success" href="/admin/products" role="button" title="Back to list">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
    

    <div class="card-footer text-muted">
    Footer
    </div>
</div>