<div class="card">
    <div class="card-header">
        <h4>New Product</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="">

            <div class="form-group">
                <label for="txtProductName">Tên Sản Phẩm</label>
                <input type="text" class="form-control" id="txtProductName" name= "ProName" autofocus>
            </div>

            <div class="form-group">
                <label for="txtTinyDes">Mô Tả</label>
                <input type="text" class="form-control" id="txtTinyDes" name= "TinyDes" autofocus>
            </div>

            <div class="form-group">
                <label for="txtPrice">Gía</label>
                <input type="text" class="form-control" id="txtPrice" name= "Price" autofocus>
            </div>

            <div class="form-group">
                <label for="txtCatID">Mã Loại Sản Phẩm</label>
                <input type="text" class="form-control" id="txtCatID" name= "CatID" autofocus>
            </div>

            <div class="form-group">
                <label for="txtQuantity">Số Lượng</label>
                <input type="text" class="form-control" id="txtQuantity" name= "Quantity" autofocus>
            </div>
            
            <a class = "btn btn-success" href="/admin/products" role="button" title="Back to list">
                <i class="fa fa-backward" aria-hidden="true"></i>
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
    

    <div class="card-footer text-muted">
    Footer
    </div>
</div>